# --- Secrets ---------------------------------------------------------------
WU_credentials.py
token*
credential*
password*

# --- Temporary documents -----------------------
temp/

# --- Runtime output ---------------------------------------------------------
Logs/
venv/
__pycache__/
*.pyc
wind.csv

# --- macOS ------------------------------------------------------------------
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes